:root {
  --fs-heading-XL: 3.5rem;
  --fs-heading-L: 2.5rem;
  --fs-heading-M: 3.5rem;
  --fs-heading-S: 1.5rem;

  --primary-color: #13183f;
  --text-color: #83869a;
  --netural-color: #ffffff;

  /* --:#F74780;
    --:#FFA7C3; */

  --button-idle-1: var(--primary-color);
  --button-idle-2: linear-gradient(#f02aa6, #ff6f48);
  --button-idle-3: linear-gradient(#4851ff, #f02aa6);

  --button-hover-1: #666ca3;
  /* --button-hover-2: 
    --button-hover-3:  */
}

::after,
::after,
* {
  margin: 0px;
  border: 0px;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  background-color: #fcf9fb;
  /* width: 100dvw;
  height: 100dvh; */
}

img {
  max-width: 100%;
}

.desktop__image-container,
.table__image-container {
  display: none;
}

.container {
  width: 90%;
  margin: 1.5em auto;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  border-radius: 20px;
  color: var(--netural-color);
}

header a {
  background-color: var(--primary-color);
  padding: 0.5em 1em;
  font-weight: bold;
}
header a:hover {
  background-color: #666ca3;
}
.main__intro a {
  background-image: var(--button-idle-2);
  padding: 0.7em 1.3em;
  font-weight: 600;
}

.main__intro a:hover {
  opacity: 0.4;
}

.intro_image {
  margin-top: 1.2em;
}

footer a {
  background-image: var(--button-idle-3);
  padding: 0.7em 1.3em;
  font-weight: 600;
}

footer a:hover {
  opacity: 0.4;
}

.dark_logo {
  width: 60%;
}

.light_logo {
  width: 60%;
}

h1 {
  margin-top: 1.4em;
  font-size: 2.4em;
  font-weight: 900;
  color: var(--primary-color);
}

h1 + p {
  margin: 1.3em 0em;
  line-height: 1.8;
}

.section__popular-courses {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.course_intro {
  background-image: var(--button-idle-2);
  font-size: 1.5em;
  color: var(--netural-color);
  padding: 1em 1em 2em;
  line-height: 1;
  font-weight: bolder;
  border-radius: 10px;
}

.popular-course + .popular-course {
  background-color: white;

  border-radius: 10px;
  position: relative;
  padding-left: 15px;
}

.popular-course img {
  position: absolute;
  top: -30px;
}

.popular-course p:nth-child(2) {
  color: var(--primary-color);
  font-size: var(--fs-heading-S);
  font-weight: bolder;
  margin: 1.8em 0em 0.5em;
}

.popular-course p:nth-child(3) {
  line-height: 1.8;
}

.popular-course a {
  color: #f02aa6;
  font-weight: bolder;
  display: inline-block;
  margin: 1.8em 0em;
}

.popular-course a:hover {
  opacity: 0.5;
}

footer {
  padding: 2em 1em;
  background-color: var(--primary-color);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 490px) {
  body {
    font-size: 1.3rem;
  }
  .dark_logo-container,
  .light_logo-container {
    width: 32%;
  }
}

@media screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .main_image {
    display: block;
  }

  .main__content {
    /* display: flex; */
    position: relative;
  }

  .main__intro {
    width: 50%;
    padding-top: 2rem;
  }

  .table__image-container {
    display: block;
  }

  .tablet_image {
    position: absolute;
    top: -10rem;
    right: -20rem;
  }

  .intro_image,
  .desktop_image {
    display: none;
  }

  .section__popular-courses {
    margin: 15rem auto 0rem;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px 20px;
  }

  .section__popular-courses .popular-course {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }
  .main__intro {
    width: 38%;
    margin-top: 3em;
  }

  .main__content {
    margin-bottom: 15em;
  }

  .container {
    width: 85%;
    margin: 1.5em auto;
  }

  .intro_image,
  .tablet_image {
    display: none;
  }

  h1 {
    font-size: var(--fs-heading-XL);
  }

  .course_intro p {
    margin-top: 0.9em;
    width: 70%;
  }

  .section__popular-courses .popular-course {
    width: 25%;
  }

  .section__popular-courses {
    justify-content: space-between;
    gap: 100px 20px;
  }

  .popular-course p:nth-child(2) {
    font-weight: 900;
  }

  .table__image-container {
    display: none;
  }

  .desktop__image-container {
    display: block;
  }

  .desktop__image {
    position: absolute;
    top: -15rem;
    right: -25rem;
    z-index: -1;
  }
  .header_container,
  .footer_container {
    width: 85%;
    margin: 1.5em auto;
  }

  .dark_logo-container,
  .light_logo-container {
    width: 15%;
  }
}
